function Controller.quit 0
call Keyboard.keyPressed 0
push constant 81
eq
return
function Controller.mode 0
call Keyboard.keyPressed 0
push constant 82
eq
return
function Controller.switch 0
call Keyboard.keyPressed 0
push constant 69
eq
return
function Controller.left 0
call Keyboard.keyPressed 0
push constant 65
eq
return
function Controller.right 0
call Keyboard.keyPressed 0
push constant 68
eq
return
function Controller.up 0
call Keyboard.keyPressed 0
push constant 87
eq
return
function Controller.down 0
call Keyboard.keyPressed 0
push constant 83
eq
return
