function Drawer.draw 3
push argument 1
push argument 3
add
push constant 512
lt
push argument 2
push argument 4
add
push constant 256
lt
call Helpers.and 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push argument 1
lt
not
if-goto WHILE_END1
push local 1
push argument 1
call Math.multiply 2
push local 0
add
push argument 0
add
pop pointer 1
push that 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END1
push local 0
push argument 3
add
push local 1
push argument 4
add
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push argument 0
call Array.dispose 1
pop temp 0
push constant 0
return
