function Helpers.and 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
